.Navigation {
    background-color: rgb(0, 158, 172);
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.2), 
            0 4px 6px -2px rgba(0, 0, 0, 0.2);
    height: 85px;
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Button {
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 400;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.Button:hover {
    text-shadow: 0 0 1px currentColor;
    transform: scale(1.01);
}

